<%- include('partials/header') %>

  <div>
    <h2>Page non trouvée</h2>
    <p>On est désolé, mais vous pouvez toujours jouer aux dés en attendant.</p>
    <a href="/game/diceRoller">Jouer</a>
  </div>

<%- include('partials/footer') %>