body {
  background: rgb(78, 12, 12);
}

.compteur {
  display: flex;
  justify-content: center;
  font-size: 3rem;

}

.replay {
  display: flex;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  margin-left: 47.5%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  border: blue;
  background-color: blue ;
  visibility: hidden;
}
.replay--hidden{
  visibility: visible;
}

#board {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.player--right {
  transform: rotate(0deg);
}

.player--down {
  transform: rotate(90deg);
}
.player--up {
  transform: rotate(-90deg);
}
.player--back {
  transform: rotate(180deg)
}
.cell {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  background-color: gray;
}

.row {
  display: flex;
  background-color: gray;
}

.player {
  width: 0rem;
  height: 0rem;
  border-style: solid;
  border-width: 15px 0 15px 35px;
  border-color: transparent transparent transparent #F0F;
  margin: 20px;
  padding: 0px;
}

.targetCell {
  background-color: #0F0F;
  
}